

<div class="container text-center">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <p><%= flat.name %></p>
        <p><%= flat.address %></p>
        <i class="fas fa-euro-sign"></i>  <%= flat.price_per_night %>
        <i class="fas fa-users"></i>  <%= flat.number_of_guests %>
        <p><%= link_to 'More Info', flat_path(flat) %></p>
      </div>
    <%end%>
  </div>
</div>



